
body {
    font-family: "Raleway", sans-serif;
}

.header {
    font-size: 50pt;
    font-weight: bold;
    color: #336699;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: -webkit-flex; 
    -webkit-justify-content: center; 
    display: flex;
    justify-content: center;
	text-align: center;
}

.greyButton {
	background-color: #dddddd;
	border-radius: 8px;
	color: #525050;
	border: 2px solid #cccccc;
	padding: 10px 15px 10px 15px;
	box-shadow: 0 9px #999;
	outline: none;
	font-weight: bold;
	margin:15px; 
	width:140px;
}

.greyButton:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#leave {
	position: absolute;
	top: 0px;
	right: 0px;
}

#play {
	position: absolute;
	top: 0px;
	left: 0px;
}
#gif{
	position: absolute;
    top: 20%;
}
.content{
    /*padding: 10px;
    margin-top: 5px;
    margin-bottom: 6px;*/
    justify-content: center;
	text-align: center;
	color: #336699;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap;
}

#waitingUser{
	position: absolute;
    bottom: 10px;
	left: 10px;
	
	font-size: 15px;
	font-weight: bold;
	
}

#tutorOnline{
	position: absolute;
    bottom: 10px;
	right: 10px;
	font-weight: bold;
}


#chooseTutor{
	position: absolute;
    bottom: 10px;
	right: 5px;
}

/* Phones: */
.phone-12-cols {width: 100%;}

/* Desktop: */
@media only screen and (min-width: 750px) {
   .desktop-1-cols {width: 8.33%;}
   .desktop-2-cols {width: 16.66%;}
   .desktop-3-cols {width: 25%;}
   .desktop-4-cols {width: 33.33%;}
   .desktop-5-cols {width: 41.66%;}
   .desktop-6-cols {width: 50%;}
   .desktop-7-cols {width: 58.33%;}
   .desktop-8-cols {width: 66.66%;}
   .desktop-9-cols {width: 75%;}
   .desktop-10-cols {width: 83.33%;}
   .desktop-11-cols {width: 91.66%;}
   .desktop-12-cols {width: 100%;}
}