body {
    font-family: "Raleway", sans-serif;
}

.header {
    font-size: 26pt;
    font-weight: bold;
    background-color: #f1f1f1;
    color: #336699;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    display: -webkit-flex; 
    -webkit-justify-content: center; 
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
}

.emptyHeader{
	flex: 20%;
}

.headerContent{
	flex: 60%;
}
.headerButton{
	flex: 20%;
}

.content{
	color: #336699;
	display: -webkit-flex; 
    -webkit-justify-content: center; 
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}

.ticTitle{

}


/* from https://wiki.selfhtml.org/wiki/JavaScript/Tutorials/Spiele/Tic-Tac-Toe */
.navbutton {
    padding: 5px;
    font-size: 16px;
}



.tic-tac-toe table {
	border: 2px solid black;
	border-collapse: collapse;
}

.tic-tac-toe td {
	border: 1px solid black;
	height: 5em;
	position: relative;
	text-align: center;
	width: 5em;
}

.tic-tac-toe table:not(.game-over) td {
	cursor: pointer;
}

.tic-tac-toe td button {
	position: absolute;
	left: -100vw;
}

.tic-tac-toe .o {
	background: #8f8;
	color: #8f8;
}

.tic-tac-toe .x {
	background: #f88;
	color: #f88;
}

.tic-tac-toe .o,
.tic-tac-toe .x {
	z-index: -1;
}

.tic-tac-toe .o::after,
.tic-tac-toe .x::after {
	color: black;
	display: block;
	font-size: 5em;
	position: absolute;
	width: 100%;
}

.tic-tac-toe .o::after {
	content: "○";
	top: -0.2em;
}

.tic-tac-toe .x::after {
	content: "×";
	top: -0.125em;
}

.tic-tac-toe .o.highlighted::after,
.tic-tac-toe .x.highlighted::after {
	text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px white, 0 0 5px white, 0 0 6px white, 0 0 7px white;
}

.tic-tac-toe .game-over {
	border-color: red;
}
.tic-tac-toe caption{
	padding: 30px;
}
.tic-tac-toe table{
  position: absolute;
  left: 50%;
  margin-left: -7.5em;
}
