
body {
    font-family: "Raleway", sans-serif;
}

.header {
    font-size: 50pt;
    font-weight: bold;
    color: #336699;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: -webkit-flex; 
    -webkit-justify-content: center; 
    display: flex;
    justify-content: center;
	text-align: center;
}

.greyButton {
	background-color: #dddddd;
	border-radius: 8px;
	color: #525050;
	border: 2px solid #cccccc;
	padding: 10px 15px 10px 15px;
	box-shadow: 0 9px #999;
	outline: none;
	font-weight: bold;
	margin:15px; 
	
	position: absolute;
	left: 0px;
	top: 0px;
	
	width:100px;
}

.greyButton:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.dropdown{
	display: none;
	position: absolute;
	left: 15px;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 8px;
}

.dropdown .btns{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-box{
	position: right;
	display: inline-block;
	border-radius: 8px;
}


.dropdown .btns:hover {background-color: #ddd;}

.dropdown-box:hover .dropdown {display: block;}

.dropdown-box:hover {background-color: #3e8e41;}

.hint {
	
	background-color: #dddddd; /* blue*/
	border-radius: 50%;
	color: #525050;
	border: 8px solid #525050;
	padding: 0px 10px 0px 10px;
	font-weight: 1000;
	margin:15px; 
	font-size: 20pt;
	outline: none;
	position: absolute;
	right: 0px;
	top: 0px;
}

.tooltiptext {
	content: " ";
    visibility: hidden;
    background-color: #525050;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 15px;
	font-size: 15px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 92%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #525050 transparent;
}

.hint:hover .tooltiptext {
  visibility: visible;
  top:150%;
  right:0;
}

.blueButton {
	background-color: #007fff; /* blue*/
	border-radius: 10px;
	border: 2px solid #0073ff;
	box-shadow: 0 12px #999;
	outline: none;
	font-weight: bold;
	font-size: 30pt;
	color: white;
	padding: 15px 30px 15px 30px;
	
	position: absolute;
    top: 40%;
}

.blueButton:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}


.content{
    /*padding: 10px;
    margin-top: 5px;
    margin-bottom: 6px;*/
    justify-content: center;
	text-align: center;
	color: #336699;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap;
}

#ask{
	top: 60px;
}

#waitingUser{
	position: absolute;
    bottom: 10px;
	left: 10px;
	
	font-size: 15px;
	font-weight: bold;
	
}

#tutorOnline{
	position: absolute;
    bottom: 10px;
	right: 60px;
	font-weight: bold;
}


#chooseTutor{
	width:50px;
	position: absolute;
    bottom: 0px;
	right: 5px;
}

#checkbox {
	justify-content: center;
	display:block;
	width: 200px;
	text-align: center;
	background-color: lightblue;
	position:absolute;
	bottom:50px;
	right:10px;
	padding-top:20px;
}

#submitCheck{
	height:40px;
	position:relative;
	top:0%;
	left:0%;
}

/* Phones: */
.phone-12-cols {width: 100%;}

/* Desktop: */
@media only screen and (min-width: 750px) {
   .desktop-1-cols {width: 8.33%;}
   .desktop-2-cols {width: 16.66%;}
   .desktop-3-cols {width: 25%;}
   .desktop-4-cols {width: 33.33%;}
   .desktop-5-cols {width: 41.66%;}
   .desktop-6-cols {width: 50%;}
   .desktop-7-cols {width: 58.33%;}
   .desktop-8-cols {width: 66.66%;}
   .desktop-9-cols {width: 75%;}
   .desktop-10-cols {width: 83.33%;}
   .desktop-11-cols {width: 91.66%;}
   .desktop-12-cols {width: 100%;}
}